<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="hokuyo_ust10" params="prefix mount update_rate:=50 sample_size:=720 min_angle:=-2.35619 max_angle:=2.35619 min_range:=0.1 max_range:=30.0 robot_namespace:=/ ">

    <link name="${prefix}_laser">
      <inertial>
        <mass value="1.1" />
        <origin xyz="0 0 0" />
        <inertia ixx="${0.0833333 * 1.1 * (0.102*0.102 + 0.152*0.152)}" ixy="0.0" ixz="0.0"
          iyy="${0.0833333 * 1.1 * (0.105*0.105 + 0.152*0.152)}" iyz="0.0"
          izz="${0.0833333 * 1.1 * (0.105*0.105 + 0.102*0.102)}" />
      </inertial>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="file://$(find automaton_description)/meshes/hokuyo_ust10_lidar.stl" />
        </geometry>
        <material name="dark_grey" />
      </visual>
    </link>

    <joint name="${prefix}_laser_mount_joint" type="fixed">
      <parent link="${mount}"/>
      <child link="${prefix}_laser"/>
      <origin xyz="0.0 0.0 0.007" rpy="0.0 0.0 0.0"/>
    </joint>
    
    <gazebo reference="${prefix}_laser">
      <turnGravityOff>false</turnGravityOff>
      <sensor type="ray" name="${prefix}_laser">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>${update_rate}</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>${sample_size}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_laser" filename="libgazebo_ros_laser.so">
          <topicName>${prefix}_laser/scan</topicName>
          <frameName>${prefix}_laser</frameName>
          <robotNamespace>${robot_namespace}</robotNamespace>
        </plugin>
      </sensor>
    </gazebo>

    <gazebo reference="${prefix}_laser">
      <material>
        Gazebo/DarkGrey  
      </material>
    </gazebo>
  </xacro:macro>

</robot>